In [1]:
import requests  # Install requests module first.
import pandas as pd
import datetime as dt
import time

In [2]:
url = "https://public.coindcx.com/market_data/candles?pair=I-BTC_INR&interval=5m&limit=10"  # Replace 'B-BTC_USDT' with your desired market pair.
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)
df['date and time'] = df['time'].apply(lambda x :time. strftime("%Y-%m-%d %H:%M:%M", time.localtime(int(str(x)[:-3]))))

In [3]:
df = df.reset_index(drop=True)

In [5]:
df = df[['date and time', 'open', 'high', 'low', 'close', 'volume']]

In [6]:
df

,date and time,open,high,low,close,volume
0,2021-12-26 00:05:05,4039999.99,4039999.99,4032915.94,4032915.94,0.00197
1,2021-12-26 00:00:00,4035000.00,4040309.07,4025490.77,4029707.88,0.02939
2,2021-12-25 23:55:55,4016996.60,4035000.00,4016589.91,4035000.00,0.03744
3,2021-12-25 23:50:50,4021763.57,4030000.75,4014976.49,4015579.05,0.05791
4,2021-12-25 23:45:45,4015351.41,4030000.00,4012081.61,4023508.52,0.04776
5,2021-12-25 23:40:40,4025444.93,4025444.93,4004463.79,4012081.62,0.04152
6,2021-12-25 23:35:35,4019585.29,4030000.00,4008325.84,4013679.45,0.02970
7,2021-12-25 23:30:30,4013386.13,4030000.00,4003974.16,4013192.16,0.07905
8,2021-12-25 23:25:25,4003402.09,4026364.00,4003286.72,4026363.99,0.45827
9,2021-12-25 23:20:20,3986500.00,4004978.66,3983459.68,4003402.08,0.09885