In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from alpha_vantage.timeseries import TimeSeries

In [9]:
API_KEY = " Q0SXLR0U3YWQPTIM"

ts = TimeSeries(key=API_KEY, output_format='pandas')
data = ts.get_intraday(symbol='AAPL', interval='1min', outputsize='full')
data[0].head()

                     1. open  2. high  3. low  4. close  5. volume
date
2023-01-27 20:00:00   145.92   145.92  145.90    145.90     2220.0
2023-01-27 19:59:00   145.95   145.95  145.92    145.92      932.0
2023-01-27 19:58:00   145.91   145.91  145.91    145.91      347.0
2023-01-27 19:57:00   145.98   145.98  145.91    145.91     2807.0
2023-01-27 19:56:00   145.95   145.95  145.93    145.95     1997.0

In [11]:
from alpha_vantage.fundamentaldata import FundamentalData

fd = FundamentalData(key=API_KEY, output_format='pandas')
data = fd.get_income_statement_annual('AAPL')
data[0].T

date,1970-01-01 00:00:00.000000000,1970-01-01 00:00:00.000000001,1970-01-01 00:00:00.000000002,1970-01-01 00:00:00.000000003,1970-01-01 00:00:00.000000004
fiscalDateEnding,2022-09-30,2021-09-30,2020-09-30,2019-09-30,2018-09-30
reportedCurrency,USD,USD,USD,USD,USD
grossProfit,170782000000,152836000000,104956000000,98392000000,101839000000
totalRevenue,391397000000,363172000000,271642000000,256598000000,265595000000
costOfRevenue,248640000000,234954000000,189475000000,180027000000,163756000000
costofGoodsAndServicesSold,223546000000,212981000000,169559000000,161782000000,163756000000
operatingIncome,119437000000,108949000000,66288000000,63930000000,70898000000
sellingGeneralAndAdministrative,25094000000,21973000000,19916000000,18245000000,16705000000
researchAndDevelopment,26251000000,21914000000,18752000000,16217000000,14236000000
operatingExpenses,51345000000,43887000000,38668000000,34462000000,30941000000
investmentIncomeNet,2825000000,2843000000,3763000000,4961000000,5686000000
netInterestIncome,-2931000000,-2645000000,-2873000000,-3576000000,-3240000000
interestIncome,106000000,2843000000,3763000000,4961000000,5686000000
interestExpense,2931000000,2645000000,2873000000,3576000000,3240000000
nonInterestIncome,394328000000,365817000000,274515000000,260174000000,265595000000
otherNonOperatingIncome,-228000000,60000000,-87000000,422000000,-441000000
depreciation,8700000000,9500000000,9700000000,11300000000,9300000000
depreciationAndAmortization,11104000000,11284000000,11056000000,12547000000,10903000000
incomeBeforeTax,119103000000,109207000000,67091000000,65737000000,72903000000
incomeTaxExpense,19300000000,14527000000,9680000000,10481000000,13372000000
interestAndDebtExpense,2931000000,2645000000,2873000000,3576000000,3240000000
netIncomeFromContinuingOperations,99803000000,94680000000,57411000000,55256000000,59531000000
comprehensiveIncomeNetOfTax,88531000000,95249000000,57453000000,58037000000,56505000000
ebit,122034000000,111852000000,69964000000,69313000000,76143000000
ebitda,133138000000,123136000000,81020000000,81860000000,87046000000
netIncome,99803000000,94680000000,57411000000,55256000000,59531000000