In [1]:
import pandas_datareader as pdr

In [7]:
df = pdr.DataReader('RELIANCE.NS', 'yahoo', '2022-12-01', '2022-12-31')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-12-01,2755.000000,2716.000000,2741.800049,2723.300049,4377696,2723.300049
2022-12-02,2748.000000,2700.600098,2730.000000,2722.149902,5348595,2722.149902
2022-12-05,2716.750000,2678.000000,2712.000000,2682.449951,6843367,2682.449951
2022-12-06,2697.000000,2661.000000,2665.100098,2690.199951,3966243,2690.199951
2022-12-07,2695.000000,2642.149902,2685.000000,2650.500000,3905263,2650.500000
2022-12-08,2665.000000,2640.100098,2660.000000,2649.250000,3579858,2649.250000
2022-12-09,2660.000000,2601.850098,2646.000000,2609.100098,5840633,2609.100098
2022-12-12,2623.000000,2585.000000,2585.500000,2613.100098,4374946,2613.100098
2022-12-13,2633.000000,2606.699951,2613.100098,2625.000000,3845839,2625.000000
2022-12-14,2638.949951,2611.000000,2637.649902,2615.500000,3354618,2615.500000
2022-12-15,2615.000000,2571.000000,2602.500000,2578.350098,4009765,2578.350098
2022-12-16,2618.800049,2570.500000,2571.000000,2585.100098,3654112,2585.100098