In [5]:
import nselib as nse
from nselib import capital_market

In [3]:
nse.trading_holiday_calendar()

,Product,tradingDate,weekDay,description,Sr_no
0,Corporate Bonds,26-Jan-2023,Thursday,Republic Day\r,1
1,Corporate Bonds,18-Feb-2023,Saturday,Mahashivratri\r,2
2,Corporate Bonds,19-Feb-2023,Sunday,Chatrapati Shivaji Maharaj Jayanti\r,3
3,Corporate Bonds,07-Mar-2023,Tuesday,Holi\r,4
4,Corporate Bonds,22-Mar-2023,Wednesday,Gudi Padwa\r,5
...,...,...,...,...,...
14,Securities Lending & Borrowing Schemes,24-Oct-2023,Tuesday,Dussehra\r,15
15,Securities Lending & Borrowing Schemes,12-Nov-2023,Sunday,Diwali-Laxmi Pujan*\r,16
16,Securities Lending & Borrowing Schemes,14-Nov-2023,Tuesday,Diwali-Balipratipada\r,17
17,Securities Lending & Borrowing Schemes,27-Nov-2023,Monday,Gurunanak Jayanti\r,18
18,Securities Lending & Borrowing Schemes,25-Dec-2023,Monday,Christmas\r,19

In [6]:
capital_market.bhav_copy_equities(trade_date="29-12-2023")

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,182D040124,TB,99.90,99.90,99.90,99.90,99.90,99.75,2000,1.998000e+05,29-DEC-2023,1
1,182D060624,TB,96.98,96.98,96.97,96.97,96.97,96.91,200,1.939500e+04,29-DEC-2023,2
2,182D080224,TB,99.25,99.25,99.19,99.19,99.19,99.24,6800,6.744980e+05,29-DEC-2023,2
3,182D130624,TB,96.78,96.78,96.78,96.78,96.78,96.78,200,1.935600e+04,29-DEC-2023,2
4,182D180124,TB,99.52,99.52,99.52,99.52,99.52,99.47,17500,1.741600e+06,29-DEC-2023,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2642,ZOTA,EQ,481.45,483.00,468.35,472.45,471.00,481.45,23882,1.133062e+07,29-DEC-2023,2019
2643,ZUARI,EQ,184.00,192.00,182.20,188.95,188.15,183.95,717884,1.348833e+08,29-DEC-2023,15530
2644,ZUARIIND,EQ,198.00,203.90,195.05,197.35,198.00,197.30,136689,2.716763e+07,29-DEC-2023,6566
2645,ZYDUSLIFE,EQ,687.95,691.80,683.35,689.20,688.75,686.40,786848,5.408053e+08,29-DEC-2023,27936
2646,ZYDUSWELL,EQ,1675.00,1706.15,1663.40,1681.10,1673.95,1643.15,143919,2.417931e+08,29-DEC-2023,14792

In [8]:
capital_market.block_deals_data(period='1M')

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks,"Ã¯Â»Â¿""Date"""
0,NaN,BHARTIARTL,Bharti Airtel Limited,BHARTI TELECOM LIMITED,BUY,"8,11,50,803","1,023.00",-,01-DEC-2023
1,NaN,BHARTIARTL,Bharti Airtel Limited,INDIAN CONTINENT INVESTMENT LIMITED,SELL,"8,11,50,803","1,023.00",-,01-DEC-2023
2,NaN,HCC,Hindustan Construc Co.,BLACKROCK GLOBAL FUNDS,BUY,"60,00,000",29.95,-,01-DEC-2023
3,NaN,HCC,Hindustan Construc Co.,BNP PARIBAS ARBITRAGE,SELL,"60,00,000",29.95,-,01-DEC-2023
4,NaN,SJVN,SJVN Ltd,BLACKROCK GLOBAL FUNDS,BUY,"50,00,000",84.95,-,01-DEC-2023
...,...,...,...,...,...,...,...,...,...
203,NaN,ZYDUSWELL,Zydus Wellness Limited,ZYDUS FAMILY TRUST,BUY,"3,90,000","1,632.00",-,28-DEC-2023
204,NaN,DALBHARAT,Dalmia Bharat Limited,DALMIA BHARAT REFRACTORIES LIMITED,BUY,"2,40,000","2,290.00",-,29-DEC-2023
205,NaN,DALBHARAT,Dalmia Bharat Limited,KESHAV POWER PRIVATE LIMITED,SELL,"2,40,000","2,290.00",-,29-DEC-2023
206,NaN,RAMCOIND,Ramco Industries Ltd,NALINA RAMALAKSHMI,SELL,"7,20,000",215.00,-,29-DEC-2023
207,NaN,RAMCOIND,Ramco Industries Ltd,THE RAMCO CEMENTS LIMITED,BUY,"7,20,000",215.00,-,29-DEC-2023

In [9]:
capital_market.deliverable_position_data(symbol="REL",period='1M')

,Symbol,Series,Date,TradedQty,DeliverableQty,%DlyQttoTradedQty,"Ã¯Â»Â¿""Symbol""",PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverÃ¢Â‚Â¹,No.ofTrades
0,NaN,EQ,30-Nov-2023,NaN,NaN,NaN,RELINFRA,186.75,186.50,192.40,181.25,189.50,189.75,188.03,"41,24,262","77,54,97,373.45","23,995"
1,NaN,EQ,01-Dec-2023,NaN,NaN,NaN,RELINFRA,189.75,192.05,196.40,191.00,193.55,194.05,194.17,"36,13,619","70,16,58,478.20","15,183"
2,NaN,EQ,04-Dec-2023,NaN,NaN,NaN,RELINFRA,194.05,197.95,198.70,192.15,193.00,192.70,195.77,"22,70,086","44,44,14,367.55","14,100"
3,NaN,EQ,05-Dec-2023,NaN,NaN,NaN,RELINFRA,192.70,193.00,202.30,190.15,202.30,202.30,199.46,"62,28,137","1,24,22,69,905.10","20,359"
4,NaN,EQ,06-Dec-2023,NaN,NaN,NaN,RELINFRA,202.30,205.00,212.40,203.65,212.40,212.40,209.57,"42,62,296","89,32,29,232.80","14,982"
5,NaN,EQ,07-Dec-2023,NaN,NaN,NaN,RELINFRA,212.40,217.40,232.00,208.25,220.50,220.50,220.65,"96,48,348","2,12,89,07,478.10","44,697"
6,NaN,EQ,08-Dec-2023,NaN,NaN,NaN,RELINFRA,220.50,221.00,225.45,210.05,214.50,214.75,217.94,"43,51,456","94,83,55,162.55","25,578"
7,NaN,EQ,11-Dec-2023,NaN,NaN,NaN,RELINFRA,214.75,216.40,224.95,215.20,218.45,218.70,219.72,"28,50,295","62,62,54,630.75","16,252"
8,NaN,EQ,12-Dec-2023,NaN,NaN,NaN,RELINFRA,218.70,219.25,220.90,210.00,211.75,211.65,214.31,"26,79,626","57,42,59,863.95","16,320"
9,NaN,EQ,13-Dec-2023,NaN,NaN,NaN,RELINFRA,211.65,211.95,217.90,211.95,215.65,215.80,215.47,"18,61,892","40,11,83,821.25","11,850"
10,NaN,EQ,14-Dec-2023,NaN,NaN,NaN,RELINFRA,215.80,217.00,218.80,212.80,214.00,214.60,215.35,"17,68,225","38,07,78,848.25","10,170"
11,NaN,EQ,15-Dec-2023,NaN,NaN,NaN,RELINFRA,214.60,214.50,217.75,207.50,209.50,209.75,211.73,"21,71,676","45,98,07,632.45","18,100"
12,NaN,EQ,18-Dec-2023,NaN,NaN,NaN,RELINFRA,209.75,210.00,217.60,208.80,213.45,213.45,213.95,"20,18,455","43,18,52,138.60","12,737"
13,NaN,EQ,19-Dec-2023,NaN,NaN,NaN,RELINFRA,213.45,214.30,217.20,208.55,209.60,209.65,212.71,"17,32,170","36,84,55,400.70","9,751"
14,NaN,EQ,20-Dec-2023,NaN,NaN,NaN,RELINFRA,209.65,210.70,211.95,189.25,189.80,190.80,198.94,"36,54,955","72,71,10,428.00","22,584"
15,NaN,EQ,21-Dec-2023,NaN,NaN,NaN,RELINFRA,190.80,189.00,194.80,185.55,194.00,193.40,191.87,"32,66,166","62,66,65,967.30","28,055"
16,NaN,EQ,22-Dec-2023,NaN,NaN,NaN,RELINFRA,193.40,196.40,198.00,190.00,193.10,193.05,193.35,"15,16,429","29,31,99,433.60","13,751"
17,NaN,EQ,26-Dec-2023,NaN,NaN,NaN,RELINFRA,193.05,195.70,199.95,191.65,196.60,196.75,195.83,"19,94,187","39,05,27,567.20","15,431"
18,NaN,EQ,27-Dec-2023,NaN,NaN,NaN,RELINFRA,196.75,197.95,200.90,193.90,194.20,194.70,196.79,"14,87,132","29,26,55,720.25","12,641"
19,NaN,EQ,28-Dec-2023,NaN,NaN,NaN,RELINFRA,194.70,196.00,196.00,190.10,190.40,190.80,192.47,"12,52,849","24,11,33,740.15","8,553"
20,NaN,EQ,29-Dec-2023,NaN,NaN,NaN,RELINFRA,190.80,190.50,209.85,190.50,209.85,209.80,205.11,"80,29,326","1,64,68,55,653.30","27,602"

In [10]:
capital_market.market_watch_all_indices()

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
0,BROAD MARKET INDICES,NIFTY 50,NIFTY 50,21731.40,-47.30,-0.22,21737.65,21770.30,21676.90,21778.70,...,1.28,31,18,1,19.46,8.13,21778.70,21349.40,20096.60,18191.00
1,BROAD MARKET INDICES,NIFTY NEXT 50,NIFTY NEXT 50,53344.80,380.70,0.72,53033.55,53388.90,52845.05,52964.10,...,1.41,11,39,0,26.25,12.33,52964.10,51944.00,47487.50,42252.55
2,BROAD MARKET INDICES,NIFTY 100,NIFTY 100,21918.80,-12.95,-0.06,21903.45,21944.45,21847.50,21931.75,...,1.27,42,58,1,19.49,8.85,21931.75,21508.85,20136.20,18343.60
3,BROAD MARKET INDICES,NIFTY 200,NIFTY 200,11798.70,8.65,0.07,11781.80,11811.50,11749.85,11790.05,...,1.21,71,129,1,23.07,8.78,11790.05,11569.10,10846.45,9587.00
4,BROAD MARKET INDICES,NIFTY 500,NIFTY 500,19429.15,29.90,0.15,19394.50,19450.10,19338.35,19399.25,...,1.17,181,317,3,25.47,8.52,19399.25,19054.70,17904.10,15485.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,FIXED INCOME INDICES,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),NIFTY GS 10YR CLN,869.75,1.30,0.14,868.45,870.62,868.44,868.45,...,,NaN,NaN,NaN,0.50,0.45,868.53,869.57,865.83,865.46
67,FIXED INCOME INDICES,NIFTY 4-8 YR G-SEC INDEX,NIFTY GS 4 8YR,2745.26,3.80,0.13,2742.00,2746.22,2742.00,2741.46,...,,NaN,NaN,NaN,7.87,1.20,2741.12,2740.49,2712.68,2545.02
68,FIXED INCOME INDICES,NIFTY 11-15 YR G-SEC INDEX,NIFTY GS 11 15YR,2760.89,5.02,0.18,2756.42,2763.69,2756.42,2755.87,...,,NaN,NaN,NaN,8.62,1.27,2755.87,2757.54,2726.37,2541.74
69,FIXED INCOME INDICES,NIFTY 15 YR AND ABOVE G-SEC INDEX,NIFTY GS 15YRPLUS,3003.22,5.96,0.19,2997.87,3006.17,2997.87,2997.26,...,,NaN,NaN,NaN,8.22,1.35,2997.84,3002.84,2963.28,2775.07
70,FIXED INCOME INDICES,NIFTY COMPOSITE G-SEC INDEX,NIFTY GS COMPSITE,2600.81,4.04,0.15,2597.28,2602.69,2597.27,2596.77,...,,NaN,NaN,NaN,7.89,1.16,2596.71,2596.66,2571.00,2410.52