In [5]:
import yfinance as yf

In [11]:
data = yf.download('RELIANCE.NS',start="2022-12-08",interval='1m')

[*********************100%***********************]  1 of 1 completed

In [12]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-12-08 09:15:00,2660.300049,2660.300049,2650.750000,2652.199951,2652.199951,0
2022-12-08 09:16:00,2652.199951,2652.199951,2646.500000,2650.000000,2650.000000,58722
2022-12-08 09:17:00,2650.399902,2654.850098,2650.000000,2654.100098,2654.100098,25822
2022-12-08 09:18:00,2654.350098,2656.800049,2653.000000,2653.550049,2653.550049,32228
2022-12-08 09:19:00,2654.000000,2655.500000,2651.550049,2651.600098,2651.600098,38109
...,...,...,...,...,...,...
2022-12-08 15:26:00,2649.250000,2649.750000,2648.899902,2649.250000,2649.250000,25603
2022-12-08 15:27:00,2649.199951,2649.449951,2648.050049,2648.149902,2648.149902,15320
2022-12-08 15:28:00,2648.300049,2648.899902,2647.550049,2648.100098,2648.100098,27034
2022-12-08 15:29:00,2647.600098,2649.000000,2647.000000,2649.000000,2649.000000,33317
2022-12-08 15:30:00,2649.250000,2649.250000,2649.250000,2649.250000,2649.250000,0

In [16]:
stock = yf.("RELIANCE.NS")
stock

yfinance.Ticker object <RELIANCE.NS>

In [ ]:
options = stock.option_chain()
options

In [ ]:
options = stock.option_chain()
options