In [6]:
import yfinance as yf
from datetime import date

In [21]:
data = yf.download('RELIANCE.NS',start="2022-12-08",interval='1m')

[*********************100%***********************]  1 of 1 completed

In [22]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-12-08 09:15:00,2660.300049,2660.300049,2650.750000,2652.199951,2652.199951,0
2022-12-08 09:16:00,2652.199951,2652.199951,2646.500000,2650.000000,2650.000000,58722
2022-12-08 09:17:00,2650.399902,2654.850098,2650.000000,2654.100098,2654.100098,25822
2022-12-08 09:18:00,2654.350098,2656.800049,2653.000000,2653.550049,2653.550049,32228
2022-12-08 09:19:00,2654.000000,2655.500000,2651.550049,2651.600098,2651.600098,38109
...,...,...,...,...,...,...
2022-12-09 15:26:00,2609.399902,2610.000000,2608.500000,2609.199951,2609.199951,328667
2022-12-09 15:27:00,2608.850098,2610.500000,2608.649902,2608.949951,2608.949951,36934
2022-12-09 15:28:00,2609.100098,2609.850098,2607.800049,2609.000000,2609.000000,30492
2022-12-09 15:29:00,2609.699951,2609.899902,2605.250000,2609.000000,2609.000000,12557
2022-12-09 15:30:00,2609.100098,2609.100098,2609.100098,2609.100098,2609.100098,0

In [23]:
stock = yf.Ticker("MSFT")
stock

yfinance.Ticker object <RELIANCE.NS>

In [40]:
history = stock.history(start="2022-12-07", end="2022-12-08", interval='15m')
history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-12-07 09:15:00+05:30,2685.199951,2695.000000,2678.899902,2683.800049,218552,0,0
2022-12-07 09:30:00+05:30,2683.100098,2685.699951,2677.550049,2683.149902,179019,0,0
2022-12-07 09:45:00+05:30,2683.199951,2684.199951,2678.399902,2681.800049,100731,0,0
2022-12-07 10:00:00+05:30,2681.850098,2686.000000,2680.000000,2682.600098,89292,0,0
2022-12-07 10:15:00+05:30,2682.649902,2684.899902,2680.000000,2680.399902,56125,0,0
2022-12-07 10:30:00+05:30,2680.399902,2682.500000,2672.199951,2673.300049,126674,0,0
2022-12-07 10:45:00+05:30,2673.000000,2675.750000,2665.000000,2669.000000,142327,0,0
2022-12-07 11:00:00+05:30,2668.800049,2670.800049,2665.500000,2667.100098,93792,0,0
2022-12-07 11:15:00+05:30,2667.149902,2673.000000,2661.000000,2665.899902,124257,0,0
2022-12-07 11:30:00+05:30,2666.149902,2668.250000,2663.649902,2667.350098,65066,0,0
2022-12-07 11:45:00+05:30,2667.399902,2670.100098,2665.000000,2665.250000,75417,0,0
2022-12-07 12:00:00+05:30,2665.250000,2667.149902,2663.850098,2664.000000,59436,0,0
2022-12-07 12:15:00+05:30,2664.050049,2665.949951,2662.000000,2663.000000,69407,0,0
2022-12-07 12:30:00+05:30,2663.000000,2664.949951,2660.000000,2660.000000,94333,0,0
2022-12-07 12:45:00+05:30,2660.000000,2667.000000,2657.399902,2666.750000,101154,0,0
2022-12-07 13:00:00+05:30,2666.750000,2671.149902,2666.300049,2669.000000,95144,0,0
2022-12-07 13:15:00+05:30,2669.000000,2669.000000,2665.149902,2668.000000,74232,0,0
2022-12-07 13:30:00+05:30,2668.050049,2669.800049,2663.649902,2665.050049,79621,0,0
2022-12-07 13:45:00+05:30,2665.000000,2665.949951,2663.149902,2665.000000,77992,0,0
2022-12-07 14:00:00+05:30,2665.000000,2665.899902,2660.000000,2660.500000,97490,0,0
2022-12-07 14:15:00+05:30,2660.800049,2665.949951,2660.000000,2665.000000,118487,0,0
2022-12-07 14:30:00+05:30,2665.050049,2672.000000,2664.100098,2664.500000,144116,0,0
2022-12-07 14:45:00+05:30,2664.699951,2670.199951,2664.300049,2670.000000,169602,0,0
2022-12-07 15:00:00+05:30,2670.000000,2670.000000,2645.699951,2647.399902,632191,0,0
2022-12-07 15:15:00+05:30,2648.500000,2650.500000,2642.350098,2650.500000,629678,0,0

In [3]:
data = yf.download('RELIANCE.NS', start='2022-12-27',interval='5m')
data = data[[ 'Open', 'High', 'Low', 'Adj Close', 'Volume']]
data.rename(columns={'Open':'open',"High":"high","Low":"low",'Adj Close': 'close',"Volume":"volume"}, inplace=True)
data

[*********************100%***********************]  1 of 1 completed

/tmp/ipykernel_4707/4013402729.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'Open':'open',"High":"high","Low":"low",'Adj Close': 'close',"Volume":"volume"}, inplace=True)

,open,high,low,close,volume
Datetime,,,,,
2022-12-27 09:15:00,2531.899902,2540.899902,2530.050049,2539.250000,61948
2022-12-27 09:20:00,2539.000000,2546.000000,2534.199951,2539.100098,86732
2022-12-27 09:25:00,2539.100098,2539.850098,2528.600098,2536.000000,69509
2022-12-27 09:30:00,2535.449951,2535.800049,2515.649902,2524.000000,100956
2022-12-27 09:35:00,2523.949951,2526.000000,2516.000000,2524.000000,48683
2022-12-27 09:40:00,2524.550049,2529.399902,2520.149902,2521.250000,54168
2022-12-27 09:45:00,2520.199951,2524.149902,2517.100098,2518.050049,47678
2022-12-27 09:50:00,2518.050049,2523.000000,2516.000000,2519.100098,24864
2022-12-27 09:55:00,2519.100098,2524.000000,2517.100098,2523.800049,18152
2022-12-27 10:00:00,2524.000000,2524.250000,2519.000000,2519.500000,25320
2022-12-27 10:05:00,2519.500000,2525.000000,2519.500000,2525.000000,26495
2022-12-27 10:10:00,2525.000000,2528.000000,2521.550049,2525.000000,43456
2022-12-27 10:15:00,2525.100098,2527.100098,2523.199951,2526.149902,37335
2022-12-27 10:20:00,2526.300049,2527.949951,2523.000000,2524.000000,19753
2022-12-27 10:25:00,2523.550049,2531.399902,2523.149902,2531.000000,27348
2022-12-27 10:30:00,2531.000000,2532.649902,2526.550049,2531.500000,34848
2022-12-27 10:35:00,2531.350098,2532.000000,2528.649902,2530.649902,19920
2022-12-27 10:40:00,2530.250000,2530.899902,2527.399902,2528.300049,17328
2022-12-27 10:45:00,2528.300049,2530.000000,2526.399902,2529.899902,12616
2022-12-27 10:50:00,2529.899902,2531.699951,2529.000000,2530.100098,21874
2022-12-27 10:55:00,2530.850098,2532.000000,2530.000000,2531.100098,19616
2022-12-27 11:00:00,2531.050049,2532.899902,2530.949951,2531.899902,19757
2022-12-27 11:05:00,2531.300049,2532.699951,2530.000000,2531.000000,15138
2022-12-27 11:10:00,2530.649902,2535.000000,2530.500000,2532.649902,24863
2022-12-27 11:15:00,2532.500000,2533.500000,2530.000000,2533.399902,26333
2022-12-27 11:20:00,2533.500000,2533.699951,2531.050049,2531.949951,6507
2022-12-27 11:25:00,2531.949951,2532.550049,2526.100098,2527.000000,20878
2022-12-27 11:30:00,2527.000000,2528.500000,2526.000000,2528.449951,17002
2022-12-27 11:35:00,2528.500000,2529.550049,2527.100098,2527.399902,18484
2022-12-27 11:40:00,2527.100098,2528.100098,2525.550049,2527.250000,17140
2022-12-27 11:45:00,2527.199951,2529.250000,2527.000000,2529.000000,18062
2022-12-27 11:50:00,2528.699951,2532.500000,2528.399902,2531.100098,21426
2022-12-27 11:55:00,2531.100098,2532.000000,2530.000000,2531.899902,10107
2022-12-27 11:58:12,2531.850098,2531.850098,2531.850098,2531.850098,0