In [20]:
import yfinance as yf
from datetime import date

In [21]:
data = yf.download('RELIANCE.NS',start="2022-12-08",interval='1m')

[*********************100%***********************]  1 of 1 completed

In [22]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-12-08 09:15:00,2660.300049,2660.300049,2650.750000,2652.199951,2652.199951,0
2022-12-08 09:16:00,2652.199951,2652.199951,2646.500000,2650.000000,2650.000000,58722
2022-12-08 09:17:00,2650.399902,2654.850098,2650.000000,2654.100098,2654.100098,25822
2022-12-08 09:18:00,2654.350098,2656.800049,2653.000000,2653.550049,2653.550049,32228
2022-12-08 09:19:00,2654.000000,2655.500000,2651.550049,2651.600098,2651.600098,38109
...,...,...,...,...,...,...
2022-12-09 15:26:00,2609.399902,2610.000000,2608.500000,2609.199951,2609.199951,328667
2022-12-09 15:27:00,2608.850098,2610.500000,2608.649902,2608.949951,2608.949951,36934
2022-12-09 15:28:00,2609.100098,2609.850098,2607.800049,2609.000000,2609.000000,30492
2022-12-09 15:29:00,2609.699951,2609.899902,2605.250000,2609.000000,2609.000000,12557
2022-12-09 15:30:00,2609.100098,2609.100098,2609.100098,2609.100098,2609.100098,0

In [23]:
stock = yf.Ticker("MSFT")
stock

yfinance.Ticker object <RELIANCE.NS>

In [40]:
history = stock.history(start="2022-12-07", end="2022-12-08", interval='15m')
history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-12-07 09:15:00+05:30,2685.199951,2695.000000,2678.899902,2683.800049,218552,0,0
2022-12-07 09:30:00+05:30,2683.100098,2685.699951,2677.550049,2683.149902,179019,0,0
2022-12-07 09:45:00+05:30,2683.199951,2684.199951,2678.399902,2681.800049,100731,0,0
2022-12-07 10:00:00+05:30,2681.850098,2686.000000,2680.000000,2682.600098,89292,0,0
2022-12-07 10:15:00+05:30,2682.649902,2684.899902,2680.000000,2680.399902,56125,0,0
2022-12-07 10:30:00+05:30,2680.399902,2682.500000,2672.199951,2673.300049,126674,0,0
2022-12-07 10:45:00+05:30,2673.000000,2675.750000,2665.000000,2669.000000,142327,0,0
2022-12-07 11:00:00+05:30,2668.800049,2670.800049,2665.500000,2667.100098,93792,0,0
2022-12-07 11:15:00+05:30,2667.149902,2673.000000,2661.000000,2665.899902,124257,0,0
2022-12-07 11:30:00+05:30,2666.149902,2668.250000,2663.649902,2667.350098,65066,0,0
2022-12-07 11:45:00+05:30,2667.399902,2670.100098,2665.000000,2665.250000,75417,0,0
2022-12-07 12:00:00+05:30,2665.250000,2667.149902,2663.850098,2664.000000,59436,0,0
2022-12-07 12:15:00+05:30,2664.050049,2665.949951,2662.000000,2663.000000,69407,0,0
2022-12-07 12:30:00+05:30,2663.000000,2664.949951,2660.000000,2660.000000,94333,0,0
2022-12-07 12:45:00+05:30,2660.000000,2667.000000,2657.399902,2666.750000,101154,0,0
2022-12-07 13:00:00+05:30,2666.750000,2671.149902,2666.300049,2669.000000,95144,0,0
2022-12-07 13:15:00+05:30,2669.000000,2669.000000,2665.149902,2668.000000,74232,0,0
2022-12-07 13:30:00+05:30,2668.050049,2669.800049,2663.649902,2665.050049,79621,0,0
2022-12-07 13:45:00+05:30,2665.000000,2665.949951,2663.149902,2665.000000,77992,0,0
2022-12-07 14:00:00+05:30,2665.000000,2665.899902,2660.000000,2660.500000,97490,0,0
2022-12-07 14:15:00+05:30,2660.800049,2665.949951,2660.000000,2665.000000,118487,0,0
2022-12-07 14:30:00+05:30,2665.050049,2672.000000,2664.100098,2664.500000,144116,0,0
2022-12-07 14:45:00+05:30,2664.699951,2670.199951,2664.300049,2670.000000,169602,0,0
2022-12-07 15:00:00+05:30,2670.000000,2670.000000,2645.699951,2647.399902,632191,0,0
2022-12-07 15:15:00+05:30,2648.500000,2650.500000,2642.350098,2650.500000,629678,0,0